/*div#aktiva {
	background-color: #008000;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
th {
	font-weight: normal;
}
th.sheet-heading {
	font-weight: bolder;
	text-align: center;
}
th.stop-gap {
	color: white;
}

th.bottom-line {
	background-color: #FFFACD;
	font-weight: bolder;
}

*/
/* Clickable Panel */
.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span#report
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

.report {
	margin-bottom: 10px;
}

.stopgap {
	padding-bottom: 23px;
	margin-bottom: 25px;
}