        <div class="col-md-6 col-sm-6">
          <div class="servive-block servive-block-light-green">
            <i class="fa fa-money fa-2x"></i>
            <p>Kas dan Setaranya</p>
            <p><%= number_to_currency(firm.current_balance_sheet.cash, unit: "Rp", delimiter: ".", precision: 0) %></p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="servive-block servive-block-dark-blue">
            <i class="fa fa-building-o fa-2x"></i>
            <p class="heading-md">Total Aset</p>
            <p><%= number_to_currency(firm.current_balance_sheet.inventories, unit: "Rp", delimiter: ".", precision: 0) %></p>
          </div>
        </div>