
  <div class="row content">
		<div class="col-lg-10 col-lg-offset-1">
					
			<div class="col-sm-6 text-center">
				<div class="plan">
					<p class="icon gold">
						<i class="fa fa-desktop fa-fw"></i>
					</p>
					<h2 class="gold-text">Promo!</h2>
					<p class="gold-text price">Rp 150.000 <br>
					per bulan</p>

					<p>30 Hari Coba Gratis</p>
					<p>Tidak Ada Batas Transaksi</p>
					<p>Semua Fitur Pembukuan</p>
<!-- 					<a class="btn btn-pricing" href="#" target="_blank">Daftar Sekarang</a> -->
				</div>
			</div>

			<div class="col-sm-6">
				<hr class="intro-divider">
				<h2>Masa Promosi!</h2>
				<p class="lead turq justify-text">Daftar sekarang dan dapatkan harga yang lebih murah sebelum bulan Juni! Semua fitur pembukuan telah bisa diakses sekarang. Jangan lupa kalau untuk 30 hari pertama kamu dapat mencoba secara gratis aplikasi ini, setelah itu kamu bisa memutuskan untuk lanjut memakai atau tidak.</p>
			</div>
		</div>
	</div>
