
  <div class="row content">
		<div class="col-lg-10 col-lg-offset-1">
					
			<div class="col-sm-6 text-center">
				<div class="plan">
					<p class="icon gold">
						<i class="fa fa-desktop fa-fw"></i>
					</p>
					<h2 class="gold-text">Promo!</h2>
					<p class="gold-text price">Rp 100.000 <br>
					per bulan</p>

					<p>30 Hari Coba Gratis</p>
					<p>Tidak Ada Batas Transaksi</p>
					<p>Semua Fitur Pembukuan</p>
					<a class="btn btn-pricing" href="<%=  new_user_registration_path %>">Daftar Sekarang</a>
				</div>
				<br>
				<br>
				<br>
			</div>

			<div class="col-sm-1">
			</div>

			<div class="col-sm-4">
				<hr class="intro-divider">
				<h2>Masa Promosi!</h2>
				<p class="lead justify-text">Daftar sekarang dan coba gratis selama 30 hari! Semua fitur pembukuan telah bisa diakses sekarang.</p>
			</div>
			<div class="col-sm-1">
			</div>			
		</div>
	</div>
