<div class="col-md-4">
		
		<strong><h3 class="text-center">Daftar Lengkap</h3></strong>
		
    <div class="blockquote-box blockquote-success clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-check"></span>
        </div>
        <h5><%= link_to "Persediaan Produk", firm_merchandises_path(firm) %></h5>
        <small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
            ante.
        </small>
    </div>
    <div class="blockquote-box blockquote-primary clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-music"></span>
        </div>
        <h5><%= link_to "Aset", firm_assets_path(firm) %></h5>
        <small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
            ante.
        </small>
    </div>
    <div class="blockquote-box blockquote-warning clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </div>
        <h5><%= link_to "Hutang", firm_spendings_path(firm, installment: true) %></h5>
        <small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
            ante.
        </small>
    </div>
    <div class="blockquote-box blockquote-success clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
        <h5><%= link_to "Piutang", firm_revenues_path(firm, installment: true) %></h5>
        <small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        </small>
    </div>    
</div>