<ul class="nav nav-pills nav-justified nav-tabs">
  <li role="presentation" class="active">
    <a href="#action_dash" data-toggle="tab" title="Disini kamu bisa mencatat pembayaran dan pemasukan usaha kamu serta mengurus dana usaha, entah itu penambahan atau penarikan">
      <strong><%= icon('pencil-square-o', 'Pencatatan') %></strong><br>
      <small>pembelian, pengeluaran, pendapatan</small>
    </a>
  </li>        
  <li role="presentation">
    <a href="#report_dash" data-toggle="tab" title="Kamu bisa lihat berbagai laporan dan daftar catatan yang sudah kamu simpan di sini">
      <strong><%= icon('folder', 'Laporan') %></strong><br>
      <small>laba-rugi, arus kas, neraca</small>
    </a>
  </li>
  <li role="presentation">
    <a href="#setting_dash" data-toggle="tab" title="Untuk melihat berbagai opsi pengaturan yang ada, klik di sini">
      <strong><%= icon('cogs', 'Pengaturan') %></strong><br>
      <small>Lorem ipsum dolor sit</small>
    </a>
  </li>
</ul>