<ul class="nav nav-pills nav-justified nav-tabs">
  <li role="presentation" class="active">
    <a href="#action_dash" data-toggle="tab" title="Halaman Tindakan">
      <strong>Pencatatan</strong><br>
      <small>pembelian, pengeluaran, pendapatan</small>
    </a>
  </li>        
  <li role="presentation">
    <a href="#report_dash" data-toggle="tab" title="Halaman Laporan">
      <strong>Laporan</strong><br>
      <small>laba-rugi, arus kas, neraca</small>
    </a>
  </li>
  <li role="presentation">
    <a href="#setting_dash" data-toggle="tab" title="Halaman Pengaturan">
      <strong>Pengaturan</strong><br>
      <small>Lorem ipsum dolor sit</small>
    </a>
  </li>
</ul>