<p class="text-center"><strong>Laporan</strong> </p>
<div class="col-xs-6 col-sm-6 col-md-6">
	<% firm.balance_sheets.each do |sheet| %>	
	<p class="text-center">		
		<span class="tags">
			<%= link_to firm_balance_sheet_path(firm, sheet)  do %>
				Neraca (<%= sheet.year %>)
			<% end %>
		</span>
	</p>

	<% end %>        	
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
	<% firm.income_statements.each do |statement| %>
	<p class="text-center">
		<span class="tags">
			<%= link_to firm_income_statement_path(firm, statement)  do %>
				Laba-Rugi (<%= statement.year %>)
			<% end %>
		</span>
		<% end %>
	</p>
</div>