<p class="text-center"><strong>Catatan Transaksi</strong></p>
<p class="text-center">  
  <span class="tags">
  	<%= link_to "Modal", firm_funds_path(firm) %>
  </span>
</p>
<p class="text-center">  
  <span class="tags">
  	<%= link_to "Pembayaran", firm_spendings_path(firm) %>
  </span>
</p>
<p class="text-center">    
  <span class="tags">
  	<%= link_to "Pendapatan", firm_revenues_path(firm) %>
  </span>
</p>
<p class="text-center">    
  <span class="tags">
  	<%= link_to "Pelunasan Hutang", firm_payable_payments_path(firm) %>
  </span>
</p>