<% title("Home") %>

<div class="container">  

  <% if @firms.count == 0 || @firm.fiscal_years.empty? %>
    <%= render 'starting_page' %>

  <% else %>
    
    <h1 class="text-center"><i class="fa fa-home"></i> Home Page - <%= @firm.name %></h1>
    
    <div class="row">
      <%= render 'nav_tabs' %>

      <div class="tab-content">
        <%= render 'tab_panels' %>
      </div>
           
    </div>

  <% end %>

  </div>
</div>
