@import "styles/cash_flows";
@import "styles/income_statements";
@import "styles/pages";
@import "styles/balance_sheets";

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

div.help {
	display: none;
}