<% if params[:type] == 'Injection' %>
	<% title("Tambah Dana") %>
	<h1>Catat Penambahan Dana Pemilik</h1>
<% else %>
	<% title("Tarik Dana") %>
	<h1>Catat Penarikan Dana Pemilik</h1>
<% end %>

<%= render 'form' %>
