
<% if params[:type] == 'Injection' %>
	<% title("Tambah Dana") %>
	<h1>Catat Penambahan Dana Usaha</h1>
<% else %>
	<% title("Tarik Dana") %>
	<h1>Catat Penarikan Dana</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Kembali', user_root_path %>
